.container{
    /* background-color: greenyellow;     */
    padding: 20px;    
    /* margin: auto; */
    margin-top: 100px;
    height: 400px;
    display: flex;
    justify-content: center;
}

.formWrap{
    /* background-color: rgb(185, 121, 121); */
    box-shadow: 2px 2px 4px rgb(128, 128, 128);
    width: 350px;
    border: 1px solid rgba(0, 0, 0, 0.199);
    border-radius: 10px;
    padding: 20px;
    display: flex;
    /* height: 350px; */
    flex-direction: column;
    justify-content: center;
    /* align-items:center; */
}

.title{
    text-align: center;
    /* background-color: greenyellow; */
}

.form{
    /* background-color: lightcoral;     */
    /* margin: auto;         */
    margin-top: 10px;
    width: 100%;
}

.email{    
    display: flex;    
    gap: 10px;
    /* background-color: lightblue;     */
    justify-content: space-between;
    outline: none;
}

.email label{
    font-size: 1.1em;
}

.email input{
    padding: 4px;
    width: 70%;
}

.password{
    display: flex;    
    gap: 10px;
    /* background-color: lightblue;     */
    justify-content: space-between;
    outline: none;
    margin: 4px 0;
}

.password label{
    font-size: 1.1em;
}

.password input{
    padding: 4px;
    width: 70%;    
}

.button{    
    margin: 20px 0;
    display: flex;
    justify-content: center;
}

.button button{
    padding: 8px 20px;
    background-color: rgb(91, 159, 214);
    outline: none;
    border: 1px solid rgba(0, 0, 0, 0.356);
    border-radius: 8px;
    text-transform: uppercase;
    color: #fff;
}

.button button:hover{
    cursor: pointer;
    background-color: rgb(64, 124, 173);
}


.link{    
    color: blue;
    cursor: pointer;
    text-align: center;
    text-decoration: underline;
}
